@charset "utf-8";
@import url(base.css);
@import url(layout.css);
@import url(content.css);

.tit_area {clear:both;}
h1.tit_type01 {padding:60px 0 50px; font-size:44px; font-weight:700; color:#222; line-height:1; text-align:center;}
.tit_type02 {padding-bottom:20px; font-size:24px; font-weight:500; color:#222; line-height:1;}
.tit_type03 {position:relative; padding-left:23px; font-size:20px; font-weight:500; line-height:1; color:#312793;}
.tit_type03:before {content:''; display:block; position:absolute; top:8px; left:3px; width:9px; height:5px; background-color:#0089ff; transform:skew(50deg); -webkit-transform:skew(50deg); -moz-transform:skew(50deg); -ms-transform:skew(50deg);}
.tit_info {position:relative; margin-top:60px; padding-left:32px; font-size:18px; font-weight:400; color:#222; line-height:1;}
.tit_info:before {content:''; display:block; position:absolute; top:50%; left:0; width:20px; height:20px; margin-top:-10px; background:url('../images/content/icon_info.gif') no-repeat 0 0;}
.tit_info.no_icon {margin-top:22px; padding-left:11px;}
.tit_info.no_icon:before {display:none;}

.btn_base {position:relative; display:inline-block; min-width:180px; height:60px; padding:20px; font-size:18px; line-height:1; color:#222; text-align:center; letter-spacing:-0.05em; border:1px solid #000; background:#fff; vertical-align:middle;}
.btn_base.on {color:#fff; border:1px solid #2376bd; background:#2376bd;}
.btn_base.off {color:#fff; border:1px solid #454545; background:#454545;}
.btn_base.blue {color:#155c98; border-color:#2376bd;}
.btn_base.mid {min-width:150px; height:50px; padding:14px 20px; font-size:17px;}
.btn_label {display:inline-block; width:auto; height:35px; padding:0 12px; font-size:15px; color:#fff; line-height:35px; text-align:center; border-radius:3px; background-color:#86878d;}
.btn_label.off {background-color:#4a4c53;}
.btn_schedule {position:relative; display:inline-block; min-width:236px; height:50px; padding:14px 20px; font-size:17px; line-height:1; color:#fff; text-align:left; letter-spacing:-0.05em; border:1px solid #4a4c53; background:#4a4c53; vertical-align:middle;}
.btn_schedule:after {content:''; display:block; position:absolute; top:20px; right:20px; width:6px; height:6px; border-left:2px solid #fff; border-bottom:2px solid #fff;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);}
.btn_go {position:relative; display:inline-block; min-width:180px; height:60px; padding:20px 40px; font-size:18px; line-height:1; color:#fff; text-align:center; letter-spacing:-0.05em; border:1px solid #2376bd; background:#2376bd; vertical-align:middle;}
.btn_go:before {content:''; display:inline-block; position:relative; top:-4px; width:25px; height:25px; margin-right:10px; background:url('../images/common/icon_go.png') no-repeat 0 0; vertical-align:top;}

.btn_area {padding-top:40px; text-align:center;}
.btn_area.right {text-align:right;}
.btn_area .btn_base {margin:0 3px;}
.btn_area.right .btn_base {margin:0 0 0 6px;}
.btn_area.go {padding-top:50px;}
.btn_area.mo {display:none;}

.c_input {display:inline-block; height:50px; padding:0 0 0 9px; font-size:18px; /*color:#313133;*/ line-height:48px; border:1px solid #dbe0e2; background:#fff; vertical-align:middle;}
.c_input:disabled, .c_input[readonly='readonly'] {background:#e4e4e4;}
.c_input.ar {padding:0 8px 0 2px}
.placeholder {font-size:15px !important; color: #999 !important;}
.c_textarea {display:inline-block; overflow:auto; overflow-x:hidden; width:100%; height:200px; padding:10px; color:#333; border:1px solid #dbe0e2; background:#fff; vertical-align:top;}
.c_textarea:disabled {background:#e4e4e4;}
.fin_type label{color: #bdbdbd!important;}
.c_chk {display:inline-block; position:relative; min-width:18px;vertical-align:top;}
.c_chk input {position:absolute; top:0; left:0; opacity:0; filter:alpha(opacity=0);outline:0;}

.c_chk label {position:relative; display:inline-block; min-height:18px; padding:0 0 0 28px; font-size:18px; line-height:1; color:#222;}
.fin_type input + label:before{border:1px solid #bdbdbd!important;}
.c_chk input + label:before {content:''; display:block; position:absolute; top:0; left:0; width:18px; height:18px; border:1px solid #060606; background-color:transparent; box-sizing:border-box;}
.c_chk input:checked + label:after {content:''; display:block; position:absolute; top:4px; left:4px; width:7px;height:5px;border-radius:1px;border-left:3px solid #000;border-bottom:3px solid #000;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);}
.c_chk input:focus + label {outline:1px dotted #000;}
.c_chk input:disabled + label{color: #999;}
.c_chk input:disabled + label:before {content:''; display:block; position:absolute; top:0; left:0; width:18px; height:18px; border:1px solid #9b9b9b; background-color:#d5d5d5; box-sizing:border-box;}
.c_chk.txt_no {height:18px; margin-right:0;}
.c_chk.txt_no label {display:inline-block; width:18px; height:18px; padding:0; min-width:18px; font-size:0; overflow:hidden;}

.c_rdo {display:inline-block; position:relative; vertical-align:top;}
.c_rdo input {position:absolute; top:0; left:0; opacity:0; filter:alpha(opacity=0); outline:0;}
.c_rdo label {position:relative;display:inline-block;min-height:18px;padding:0 0 0 27px; font-size:18px; line-height:1; color:#222;}
.c_rdo input + label:before {content:''; display:block; position:absolute; top:0; left:0; width:18px; height:18px; border:1px solid #060606; border-radius:100%; background-color:#fff; box-sizing:border-box;}
.c_rdo input:checked + label:after {content:''; display:block; position:absolute; top:4px; left:4px; width:10px; height:10px; border-radius:100%; background-color:#000;}
.c_rdo input:focus + label {outline:1px dotted #000;}
.c_rdo input:disabled + label {color:#999;}
.c_rdo input:disabled + label:before {content:''; display:block; position:absolute; top:0; left:0; width:18px; height:18px; border:1px solid #9b9b9b; border-radius:100%; background-color:#d5d5d5; box-sizing:border-box;}
.c_rdo input:disabled + label:after {display:none;}
.c_rdo.txt_no {height:18px; margin-right:0;}
.c_rdo.txt_no label {display:inline-block; width:18px; height:18px; padding:0; min-width:18px; font-size:0; overflow:hidden;}

.c_select {display:inline-block; position:relative; height:50px; padding:7px 15px 7px 7px; font-size:18px; color:#313133; line-height:1; border:1px solid #dbe0e2; background:url('../images/common/icon_select_arrow.gif') no-repeat 100% 50% #fff; cursor:pointer; vertical-align:middle;}

.tbl_top {margin-bottom:30px;}
.tbl_top:after {content:''; display:block; clear:both;}
.tbl_top .btn_area {float:left; padding-top:0; text-align:left;}
.tbl_top .txt_area {float:right; padding-top:40px; font-size:18px; line-height:1;}
.tbl_top .srch_area {float:right;}
.tbl_top .srch_area:after {content:''; display:block; clear:both;}
.tbl_top .srch_area * {float:left;}
.tbl_top .srch_area .c_select {width:150px;}
.tbl_top .srch_area .c_input {width:300px; margin-left:10px;}
.tbl_top .srch_area .btn_srch {display:inline-block; width:100px; height:50px; padding:15px 0; font-size:17px; color:#fff; line-height:1; text-align:center; background-color:#454545;}

.tbl_list {table-layout:fixed; width:100%; border-top:2px solid #313133;}
.tbl_list thead th {height:60px; padding:10px 0; font-size:18px; font-weight:500; border-bottom:1px solid #dbe0e2; background-color:#f5f5f5;}
.tbl_list tbody td {height:58px; padding:10px 0; font-size:18px; border-bottom:1px solid #dbe0e2; text-align:center;}
.tbl_list tbody td.subject {padding-left:20px; text-align:left;}
.tbl_list tbody td.subject a {display:inline-block;overflow:hidden;width:94%;text-overflow:ellipsis;white-space:nowrap; vertical-align:middle;}
.tbl_list .icon_notice {display:inline-block; width:80px; height:35px; padding:8px 0; font-size:17px; color:#fff; line-height:1; border-radius:3px; background-color:#f29600;}
.tbl_list .txt_file {display:inline-block; width:24px; height:28px; font-size:0; line-height:0; background:url('../images/common/icon_file_pc.png') no-repeat 0 0; vertical-align:middle;}

.tbl_view {table-layout:fixed; width:100%; border-top:2px solid #313133;}
.tbl_view tbody th {height:60px; padding:12px 0; font-size:18px; font-weight:500; border-bottom:1px solid #dbe0e2;}
.tbl_view tbody th.subject {padding-left:30px; font-size:22px; font-weight:400; color:#000; text-align:left; background-color:#f5f5f5;}
.tbl_view tbody td {height:60px; padding:10px 0; font-size:18px; border-bottom:1px solid #dbe0e2;}
.tbl_view tbody td.con {padding:26px;}
.tbl_view .tit_file {vertical-align:top;}
.tbl_view .list_file > li {padding:2px 0;}
.tbl_view .list_file > li > a {font-size:18px; color:#2376bd; text-decoration:underline;}

.tbl_write {table-layout:fixed; width:100%; border-top:2px solid #313133;}
.tbl_write tbody th {height:60px; padding:12px 0; font-size:18px; font-weight:500; border-bottom:1px solid #dbe0e2; background-color:#f5f5f5;}
.tbl_write tbody td {padding:4px 5px; border-bottom:1px solid #dbe0e2;}
.tbl_write tbody td.con {font-size:18px;padding:0;}
.tbl_write .c_select + .c_chk {margin-left:6px; vertical-align:middle;}
.tbl_write .list_addfile {margin-top:15px;}
.tbl_write .list_addfile > li {padding:2px 0;font-size:18px;}
.tbl_write .list_addfile .btn_delete {display:inline-block; position:relative; top:5px; margin-left:16px; vertical-align:top;}