<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.people3.model.mapper.TennisPdtMapper">

	<select id="list" resultType="com.people3.model.vo.TennisPdt">
		select * from tennis_pdt
	</select>
	
</mapper>